  <%-include("partials/header")%>
  <div style="text-align: center; margin-top:10rem; ">

   <h1 style=" width: 80%;
     height: 200px;
     padding: 15px;
     margin-left:40px;
     background-color:#dcd6f7;
     box-shadow: 10px 10px 5px grey;
     position: relative;">
     It's <%=weather%> degree Celsius with <%=humidity%>% humidity in <%=name%>!
   </h1>  
     
  <a href="/weather" class="btn btn-primary mt-5 mb-4">Check Another City</a>
</div>
  <%-include("partials/footer")%>

  <!-- border: 1px solid grey;border-radius: 5px;border-style:inset; -->